@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  /* background-color: #14213d; */
  font-family:"Cabin", sans-serif;
  color: #212121;
  overflow-x: hidden;
  }

.navbar {
  background-color: #323743;
  font-size: 20px;
}

.navbar-brand {
  color: pink;
}

.nav-link {
  color: #606060;
}

.nav-link.active {
  color: pink !important;
}

.cv-btn {
  background-color: transparent;
  padding: 0 6px;
  margin: 0 3px;
  font-size: 16px;
  border: solid 2px #b3e59f;
  color: #b3e59f;
  cursor: pointer;
  outline: none;
  appearance: none;
}

.cv-btn:hover {
  transition: 0.3s;
  background: #b3e59f;
  color: #323743;
  .cv-link {
    text-decoration: none;
    color: #323743;
  }
}

.cv-link {
  text-decoration: none;
  color: #b3e59f;
}

.project-btn {
  text-decoration: none;
  border: solid 2px #b3e59f;
  color: #b3e59f;
  padding: 2px 6px;
}

.project-btn:hover {
  transition: 0.3s;
  background: #b3e59f;
  color: white;
}

.hero-container {
  background-color: #14213d;
  position: relative;
  color: pink;
  height: calc(100vh - 56px);
}

.left-side {
  width: 70%;
}

.right-side {
  width: 30%;
}

.profile-container {
  position: relative;
}

.profile-pic {
  position: relative;
  z-index: 1;
  width: 300px;
}

.pink-outer {
  position: absolute;
  z-index: 0;
  top: -20px;
  left: 20px;
  width: 300px;
  height: 274.96px;
  border: solid 1px pink;
  border-radius: 8px;
}

.blue-outer {
  position: absolute;
  z-index: 0;
  top: -40px;
  left: 40px;
  width: 300px;
  height: 274.96px;
  border: solid 1px rgb(91, 166, 196);
  border-radius: 8px;
}

.green-outer {
  position: absolute;
  z-index: 0;
  top: -60px;
  left: 60px;
  width: 300px;
  height: 274.96px;
  border: solid 1px #b3e59f;
  border-radius: 8px;
}

.contact-icon {
  color: #606060;
  font-size: 40px;
  margin: 8px;
}

.wrapper {
  /*This part is important for centering*/
  text-align: left;
  display: grid;
  place-items: center;
}

.typing-effect {
  width: 20ch;
  animation: typing 3s steps(20), blink .5s step-end infinite alternate;
  /* pause 7.5s steps(1) inifinite; */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    wifth: 20ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.container-width {
  width: 80%;
  margin: 0 auto;
}

/* @keyframes pause {
  0%, 22% { border-right: 3px solid; }
  100% { border-right: 3px solid; }
} */

.arrow-icon {
  color: pink;
  font-size: 40px;
  position: absolute;
  bottom: 20%;
}

.arrow-icon:hover {
  bottom: 18%;
  transition: 0.3s;
}

.description {
  width: 70%;
  padding: 0;
}

.prj-img {
  width: 400px;
}

.project-icon {
  padding-left: 6px;
}

  .name {
    font-size: 80px;
  }

li {
  list-style-type: none;
}

p {
  margin-bottom: 0;
}

.footer {
  background-color: #14213d;
  color: pink;
}

@media (max-width:576px) {
.name {
  font-size: 50px;
}

  h1 {
    font-size: 24px;
  }

  .profile-pic {
    width: 200px;
    top: 50px;
    left: -50px;
  }

  .pink-outer {
    position: absolute;
    z-index: 0;
    top: 35px;
    left: -35px;
    width: 200px;
    height: 183.3px;
    border: solid 1px pink;
    border-radius: 8px;
  }

  .blue-outer {
    position: absolute;
    z-index: 0;
    top: 20px;
    left: -20px;
    width: 200px;
    height: 183.3px;
    border: solid 1px rgb(91, 166, 196);
    border-radius: 8px;
  }

  .green-outer {
    position: absolute;
    z-index: 0;
    top: 5px;
    left: -5px;
    width: 200px;
    height: 183.3px;
    border: solid 1px #b3e59f;
    border-radius: 8px;
  }

  .arrow-icon {
    display: none;
  }

  .about {
    margin: 0;
  }

  .prj-img {
    width: 80%;
  }
}
